{% extends 'front/base.html' %}
{% block content %}
        <section class="grid grid-cols-4 grid-rows-10 gap-20 p-5">
            {for guides in Guide}
            <article class="bg-secondary">
                <h2>{{guides.nom}}</h2>
                <p>{{guides.description}}</p>
                <img src="{{guides.image}}" alt="{{guides.titre}}">
                <p>{{guides.tag}}</p>
                <p>{{guides.auteur}}</p>
            </article>
            <div>
                <span>{{guides.likes}}</span>
                <a href="{{ url_for('like_guide', guide_id=guides._id) }}"
                class = "">
                {% if session.get('util') in guides.liked_by %}
                    dislike
                {% else %}
                    like
                {% endif %}
                </a>
            </div>
            {% endfor %}
        </section> 
{% endblock %}