{% extends 'front/base.html' %}
{% block content %}
{% if erreur %}
{% endif %}
<p>Erreur : {{erreur}}</p>
<div class="flex justify-center mt-10 mb-10 border-solid rounded-lg">
    <form method="POST" action = "/signin" class="bg-secondary p-6 border-solid rounded-lg">
        <div>
            <label>Utilisateur</label>
            <p><input name="utilisateur" type="text" placeholder="nom de l'utilisateur"></p>
        </div>
        <div class="mt-10">
            <label>Mot de passe</label>
            <p><input name="mot_de_passe" type="password" placeholder="Entrez votre mot de passe"></p>
        </div>
        <div class="mt-10">
            <label>Confirmer votre mot de passe</label>
            <p><input name="verif_mot_de_passe" type="password" placeholder="Entrez votre mot de passe"></p>
        </div>
        <div class="mt-10 flex justify-center border-solid rounded-lg bg-green-200">
            <button type="submit">Se connecter</button>
        </div>
    </form>  
</div>
{% endblock %}